<div class="nav-container">
  <div class="branding hidden-xs hidden-sm">
    <h1>H. Claire Fretwell</h1>
    <div class="subtitle">Donkey Story Writer</div>
  </div>
  <nav class="navbar navbar-default sidebar" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
      <span class="branding visible-xs visible-sm">
        <h1>H. Claire Fretwell</h1>
        <div class="subtitle">Donkey Story Writer</div>
      </span>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="{{ home }}"><a href="/">Home<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
        <li class="{{ whowho }}"><a href="/who-is-who.html">Who's Who<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-question-sign"></span></a></li>

        <li class="dropdown {{ books }}">
          <a href="/book-collections.html" class="dropdown-toggle" data-toggle="dropdown">Book Collections <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-book"></span></a>
          <ul class="dropdown-menu forAnimate" role="menu">
            <li><a href="/book-collection-children-2016.html">Children Stories 2016</a></li>
            <li><a href="/book-collection-children-2017.html">Children Stories 2017</a></li>
            <li class="divider"></li>
            <li><a href="/book-collection-teen-2016.html">Teen Stories 2016</a></li>
            <li><a href="/book-collection-teen-2017.html">Teen Stories 2017</a></li>
          </ul>
        </li>
        <li class="{{ merch }}"><a href="/merchendise.html">Merchendise<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-shopping-cart"></span></a></li>
        <li class="{{ contact }}"><a href="/contact.html">Contact<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-envelope"></span></a></li>
      </ul>
    </div>
  </div>
</nav>
</div>
